= render "shared/errors", obj: @user

.container.mt-5
  .card.p-4.shadow
    %h2.text-xl.font-bold.mb-4 Edit Role

    = form_for @user do |f|
      .mb-3
        = f.label :role
        // superadmin should not be an option
        = f.select :role, options_for_select(User.roles.keys.reject { |r| r == "superadmin" }.map { |r| [r.humanize.titleize, r] }, @user.role), {}, class: "form-select"

      .actions
        = f.submit "Update Role", class: "btn btn-primary"
