%h1 Users
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Fullname
      %th Email
      %th Role
      %th Last Signed In At
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.fullname
        %td= user.email
        %td= user.role
        %td= user.current_sign_in_at&.strftime("%d.%m.%Y") || "Never"
        %td
          .d-flex.gap-2
            = link_to "Edit", edit_user_path(user), class: "btn btn-sm btn-primary"
            - if user.role != "admin"
              = link_to "Delete", user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"


