.container.mt-5
  .row.justify-content-center
    .col-md-5
      .card.shadow-sm
        .card-body.p-4
          %h2.text-center.mb-4 Forgot your password?
          
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            
            .mb-3
              = f.label :email, class: "form-label"
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
            
            .d-grid.mb-3
              = f.submit "Send me reset password instructions", class: "btn btn-primary btn-lg"